:root {
    --color-primary: hsl(220, 60%, 50%);
    --color-primary--hover: hsl(220, 60%, calc(50% * 1.2));
    --border-color-base: rgba(0, 0, 0, 0.5);
    --opacity-icon-base: 0.6;
    --color-surface-1: hsl(0, 0%, 100%);
    --color-base: #54595d;
}

#EditGPTWidget #input textarea {
    box-sizing: unset;
    color: red;
    border: 1px solid var(--border-color-base);
}

#EditGPTWidget {
    max-width: 1100px;
    margin: 0 auto 20px auto;
}